$primary-bg: #ecf0f3;

$black: #000;
$blue: #1DA1F2;
$blue-transparent: #D9EAFD66;
$purple: #3a0ca3;
$purple-transparent: #3a0ca366;
$light-blue: #D9EAFD;
$grey-blue: #cbced1;
$grey: #808080;
$light-grey: #9AA6B2;
$red: #860000;
$white: #fff;
