@import './variables';

.data-table {
  margin-top: 40px;
  width: 100%;
  overflow-x: auto;
  transform: rotateX(180deg);

  .table {
    background-color: $white;
    border-radius: 14px;
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    transform: rotateX(180deg);

    .table-header {
      background-color: $light-blue;

      .header-cell {
        min-width: 200px;
        padding: 12px;
      }
    }

    .table-row {
      height: 44px;
    }

    .table-cell {
      border: 1px solid #D9EAFD;
      padding: 12px;
      text-align: center;
    }

    .table-button {
      border-radius: 20px;
      border: none;
      color: $white;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      padding: 8px 16px;

      &.edit {
        background-color: $blue;
        margin-right: 12px;
      }

      &.delete {
        background-color: $red;
      }
    }
  }
}
