@import './variables';

.data-manager {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px 24px;
  width: 100%;

  .loader {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: $grey-transparent;
    z-index: 3;
  }

  .button {
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $light-grey;
    color: $light-grey;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    transition: 250ms;
    width: 120px;

    &.users {
      margin-right: 16px;
    }

    &.add {
      background-color: #D9EAFD;
      color: #000;
      margin-bottom: 16px;
    }

    &:hover {
      background-color: $light-grey;
      color: $white;
    }
  }

  @media (max-width: $tablet-break-point) {
    .button {
      font-size: 16px;
      width: 100px;
    }
  }
}