@import './variables';

.home {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100%;

  .nav {
    border-radius: 6px;
    border: 2px solid $purple;
    color: $purple;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 22px;
    font-weight: 600;
    height: 56px;
    line-height: 30;
    margin: 20px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: color 0.45s;
    width: 180px;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-color: $purple;
      height: 250px;
      width: 280px;
      border-radius: 50%;
    }

    &:hover {
      color: $white;
    }

    &::before {
      top: 100%;
      left: 100%;
      transition: all 0.55s;
    }

    &:hover::before {
      top: -55px;
      left: -35px;
    }

    &:active::before {
      background: $purple;
      transition: background-color 0s;
    }
  }
}